<ion-modal-view>
  <ion-header-bar class="bar-stable bar-assertive">
    <h1 class="title">Start with Entropy</h1>
  </ion-header-bar>
  <ion-content class="has-header" padding="'true'" >
    <div class="list card">
      <div class="item">
        <!-- <i class="badge badge-balanced">- {{shakeCounter}}</i> -->
        <i class="badge badge-balanced">Ա</i>
        <!-- <h2>Shake to start!</h2> -->
        <h2>Welcome to WAND</h2>
      </div>
      <div class="item item-image">
        <!-- <img class="{{classShake}}" ng-src="img/shake{{shakeCounter}}.png"/> -->
        <img class="{{classShake}}" ng-src="img/header_wand.png"/>
      </div>
        <button class="button button-clear button-positive " ng-click="goLogin('')">Create new account <i class="ion-ios-fastforward"></i></button>
    </div>
    <div class="list card">
      <button class="button button-clear button-positive " ng-click="restoreLogin(restoreSeed)">Restore from seed <i class="ion-ios-fastforward"></i></button>
      <span class="item item-input">
        <textarea ng-model="restoreSeed"  rows="2" placeholder="insert seed passphrase from backup to restore an existing wallet"></textarea>

      <!--button class="button button-clear icon ion-ios-camera" on-touch="scanSeed()"></button-->
      </span>
    </div>

  </ion-content>
</ion-modal-view>
